
/* header */

#header {
  margin: 16px 0px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.left_header {
  width: 30%;
}

.logo_div {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: center;
}

.right_header {
  width: 30%;
}

.logo {
  width: 100%;
}

/* hero */

body {
}

#lottie {
  width: 492px;
  height: 59px;
}

h1 {
  margin-left: 16px;
  font-family: inter;
  font-size: 56px;
  color: #00214D;
}

.hero {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
  margin-top: 32px;
}

#hero_a {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 55%;
  /* background-color: #FE8350; */
}

#title_div {
  width: 100%;
}

#hero_title {
  width: 80%;
}

#copy_container {
  width: 50%;
  align-self: flex-end;
  margin-right: -30px;
  background-color: #c6c6c6;
  opacity: 80%;
  padding: 24px;
}

#hero_copy {
  line-height: 1.4;
}

.hero_b {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  align-items: end;
  width: 45%;
  /* z-index: -1; */
}

#img_div {
  display: flex;
  justify-content: end;
  width: auto;
  background-color: #D3DEE6;
}

#parking_img {
  width: 90%;
  height: 80%;
}

#contact_button {
  padding: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 220px;
  height: 80px;
  background-color: #FE8350;
  font-family: inter;
  font-size: 32px;
  color: #00214D;
  margin: -40px 60px;
}

#button {

  font-family: inter;
  font-size: 32px;
  color: #00214D;
  opacity: 30%;
  
}

#contact_button:hover {
  background-color: #00214D;
  color: #FE8350;
}

#footer {
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 128px;
  padding-right: 24px;
  padding-left: 24px;
  margin-bottom: 24px;
}

#footer > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#footer > div > img {
  margin-right: 12px;
  height: 69px;
  width: 55px;
}

#footer_links > a {
  font-family: "IBM Plex Mono", monospace;
  text-decoration: none;
  color: #00214D;
  margin-right: 48px;
}

/* text decoration off */

p {
  font-family: "IBM Plex Mono", monospace;
}

 a:link {
      text-decoration: none;
}

a:visited {
      text-decoration: none;
}

a:hover {
      text-decoration: none;
}

a:active {
      text-decoration: none;
}

/* mobile */

@media (801px <= width <= 1200px) {
  h1 {
  font-size: 40px;
}
}

@media (501px <= width <= 800px) {
  h1 {
  font-size: 32px;
}
#contact_button {
  width: 148px;
  height: 54px;
  font-size: 24px;
}
}

@media (max-width: 500px) {

#header {
    margin: 0px;
    width: 100%;
  }

    h1 {
      font-size: 32px;
    }

.left_header {
  width: 2%;
}

.logo_div {
  width: 96%;
}

.right_header {
  width: 2%;
}

  body {
  /* padding: 0px 0px 12px 24px; */
  }

#hero_a {
  width: 100%;
  /* background-color: #FE8350; */
}

.hero_b {
  width: 100%;
}

  #hero_title {
  width: 100%;
}

#copy_container {
  width: 100%;
  background-color: #c6c6c6;
  opacity: 80%;
  padding: 12px;
  align-self: center;
  margin-right: 0px;
}
.hero {
  display: flex;
  flex: 1 1 0;
  margin-top: 24px;
  flex-direction: column;
}


}
}

